<img align="left" src="https://www.cam.ac.uk/sites/www.cam.ac.uk/files/inner-images/logo.jpg" width="300">

## A CITY REGION IN MAKING - DEMO VERSION
AUTHOR: DR LI WAN & MS TIANYUAN WANG | UNIVERSITY OF CAMBRIDGE

### What is the model?

This model is designed to simulate the spatial equilibrium structure in the city.  

For simplicity, we assume there are three zones (zone 1, 2, 3) in a city and two groups of employed residents (high income & low income).

This online interactive webpage is aimed to let users run the model online. You do not need to download anything and can see model output immediately on the screen. You can save the model setting and the output to your own local device by clicking `Download` button on the top (or, `File` -> `Download`) (Noted the connection to the online server will be cut off if the user stays idle on the page for about 10 minutes).


Further information for more advanced model can refer to the published paper including its supplymentary material: <a href="https://journals.sagepub.com/doi/10.1177/2399808317732575" target="_blank"> Wan, L., & Jin, Y. (2019).  Assessment of model validation outcomes of a new recursive spatial equilibrium model for the Greater Beijing </a>.



### How to use it?

**Change data input:** 

All model varaibles and parameters can be changed. After the change, simply click the `>>` button (or, `Kernel` -> `Restart Kernel and Run All Cells`), model will restart and new output will be prodcued (note that the old results will lost if not saved).


**Read model output:** 

z1, z2, z3 indicate zone 1, 2, 3 respectively.

ER: Employed residents; &nbsp; EW: Employed workers; &nbsp; JobOpp: Job opportunity (a measure of accessibility to jobs) ;&nbsp;  LabCat: Labour catchment (a measure of how far a workplace could attract labour from) ; &nbsp; ACD: Average commuting distance ; &nbsp; ACT: Average commuting time. 

**   **
**Contact:** &nbsp; Dr Li Wan: lw423@cam.ac.uk; &nbsp; Ms Tianyuan Wang: tw531@cam.ac.uk

## 1. MODEL INITIALISATION

In [1]:
Project_Name = 'Model_X'

# Model Parameters (DO NOT CHANGE)
import pandas as pd
import numpy as np
import settings

MaxITN = settings.MaxITN
Tol = settings.Tol
Status_Mode = settings.Status_Mode
Status_EmpPred = settings.Status_EmpPred
Status_HrentPred = settings.Status_HrentPred 

LLCoefIJ = settings.LLCoefIJ
D = settings.D
Lambda = settings.Lambda
LT = settings.LT

### Model Variables 

* Numbers from top to bottom indicate zone 1, 2, 3 respectively. 

* Left-hand side is high-income group; right-hand side is low-income group. 

1. Housing Variables:

In [2]:
# housing floorspace (Unit: m2) 
HS = np.array([[10000],
               [5000],
               [2000]])

# business floorspace (Unit: m2)
BFS = np.array([[1000],
                [1000],
                [1000]])

# house rent per m2
Hrent0 = np.array([[20],
                   [20],
                   [20]])

2. Employment Variables:

In [3]:
# total employment by socio-economic classification; input if Status_EmpPred == 1 (Predict emp-residential location pair)
EmpSeCTot = np.array([[300,1]]) 

# employment by socio-economic classification; input if Status_EmpPred == 0 (Predict residential location only)
EmpSeC = np.array([[220,1],   
                   [60,1],
                   [20,1]])

3. Travel Time:

In [4]:
# travel time from residence place (row) to work place (column) (Unit: minute)
Time1 = np.array([[15,45,90],    
                  [45,15,45],
                  [90,45,15]])

4. Other Variables:

In [5]:
# annual labour wage at worlplace
Wage = np.array([[10000,10000],   
                 [10000,10000],
                 [10000,10000]])

# Share of total income spent on housing
HSExpShare = np.array([[0.2,0.2],   
                       [0.2,0.2],
                       [0.2,0.2]])

## 2. MODEL ITERATIONS

In [6]:
from model_iteration_function import model_iteration
Output, Hrent, Error, ZAttrIJ, ZAttrI = model_iteration(Tol,Status_HrentPred,Status_Mode,Status_EmpPred,Time1,EmpSeCTot,EmpSeC,HS,BFS,Hrent0,Wage,HSExpShare,MaxITN,LLCoefIJ,D,Lambda,LT)

------------------- ZAT file exists - Load ZAT file -----------------
--------------------------- Iteration starts ------------------------
--------------------- Hrent Converged at ITN = 511 ------------------
Elapsed time is: 0.2481 seconds

## 3. MODEL OUTPUT

In [7]:
from functions import print_outputs
Output_summary = print_outputs (Status_Mode,Status_EmpPred,Status_HrentPred,Output,Hrent,Tol,Project_Name)
Output_summary['Metadata']

[['PROJECT NAME: Model_X'],
 ['DATE: ', Timestamp('2021-10-14 09:54:16.436518')],
 ['PRECISION: ', 1e-06],
 ['MODEL MODE: FORECAST'],
 ['EMPLOTMENT PREDICTION: DISABLED'],
 ['HOUSE RENTS PREDICTION: ENABLED']]

In [8]:
Output_summary['T1']

   House rent Employed residents            Employed workers             \
                     high income low income      high income low income
z1     42.955              213.8        1.0            220.0        1.0
z2     24.914               61.3        1.0             60.0        1.0
z3     25.939               24.9        1.0             20.0        1.0

   Job opportunity            Labour catchment             \
       high income low income      high income low income
z1           0.222     -0.885            0.215     -0.885
z2           0.038     -0.863            0.040     -0.865
z3          -0.163     -0.885           -0.145     -0.883

   Average commuting distance            Average commuting time
                  high income low income            high income low income
z1                     17.826     15.365                 17.826     15.365
z2                     16.765     15.185                 16.765     15.185
z3                     17.826     15.365                 17.826     15.365

In [9]:
Output_summary['Commuting_Origin_Destination_Flow']

                   z1    z2    z3
high income z1  210.2   3.2   0.3
            z2    6.8  53.8   0.7
            z3    3.0   2.9  19.0
low income  z1    1.0   0.0   0.0
            z2    0.0   1.0   0.0
            z3    0.0   0.0   1.0
all         z1  211.2   3.2   0.3
            z2    6.8  54.8   0.7
            z3    3.0   3.0  20.0