<img align="left" src="https://www.cam.ac.uk/sites/www.cam.ac.uk/files/inner-images/logo.jpg" width="300">

## A CITY REGION IN MAKING - DEMO VERSION
AUTHOR: DR LI WAN & MS TIANYUAN WANG | UNIVERSITY OF CAMBRIDGE

### What is the model? / Description

This model is designed to simulate the spatial equilibrium structure in the city.  

For simplicity, we assume there are three zones (zone 1, 2, 3) in a city and two groups of people (high income & low income).

### How to use it? / Getting Started

**Change input:** 

All the numbers of model varaibles can be changed to whatever you are interested in. Simply click the `>>` button (or, `Kernel` -> `Restart Kernel and Run All Cells`), you can then get your outputs!


**Read output:** 

z1, z2, z3 indicate zone 1, 2, 3 respectively.

ER: Employment residents; &nbsp; EW: XXX; &nbsp; JobOpp: XXX;&nbsp;  LabCat: XXX; &nbsp; ACD: XXX; &nbsp; ACT: XXX; 

&nbsp;  

Note: This online interactive webpage is aimed to let users run everything online, so you don't have to download anything and can get outputs immediately. You can also save all your changes to your own local service by clicking `Download` button on the top (or, `File` -> `Download`) (Noted this webpage won't be able to save your changes permanently once you close the window).

If you do want to run this model through your own local device, remember to download the whole folder (including all the function files). This model can be run through any Python IDE. 


Further information for more advanced model can refer to the published paper: <a href="https://journals.sagepub.com/doi/10.1177/2399808317732575" target="_blank"> Wan, L., & Jin, Y. (2019).  Assessment of model validation outcomes of a new recursive spatial equilibrium model for the Greater Beijing </a>.


**   **
**Contact:** &nbsp; Dr Li Wan: lw423@cam.ac.uk; &nbsp; Ms Tianyuan Wang: tw531@cam.ac.uk

## 1. MODEL INITIALISATION

In [1]:
Project_Name = 'Model_X'

# Model Parameters (DO NOT CHANGE)
import pandas as pd
import numpy as np
import settings

MaxITN = settings.MaxITN
Tol = settings.Tol
Status_Mode = settings.Status_Mode
Status_EmpPred = settings.Status_EmpPred
Status_HrentPred = settings.Status_HrentPred 

LLCoefIJ = settings.LLCoefIJ
D = settings.D
Lambda = settings.Lambda
LT = settings.LT

### Model Variables 

* Numbers from top to bottom indicate zone 1, 2, 3 respectively. 

* Left-hand side is high-income group; right-hand side is low-income group. 

1. Housing Variables:

In [2]:
# housing floorspace (Unit: m2) 
HS = np.array([[1000],
               [1000],
               [1000]])

# business floorspace (Unit: m2)
BFS = np.array([[1000],
                [1000],
                [1000]])

# house rent per m2
Hrent0 = np.array([[200],
                   [200],
                   [200]])

2. Employment Variables:

In [3]:
# total employment by socio-economic classification; input if Status_EmpPred == 1 (Predict emp-residential location pair)
EmpSeCTot = np.array([[300,1]]) 

# employment by socio-economic classification; input if Status_EmpPred == 0 (Predict residential location only)
EmpSeC = np.array([[100,1],   
                   [100,1],
                   [100,1]])

3. Travel Time:

In [4]:
# travel time from residence place (row) to work place (column) (Unit: minute)
Time1 = np.array([[5,15,30],    
                  [15,5,15],
                  [30,15,5]])

4. Other Variables:

In [5]:
# annual labour wage at worlplace
Wage = np.array([[10000,10000],   
                 [10000,10000],
                 [10000,10000]])

# Share of total income spent on housing
HSExpShare = np.array([[0.2,0.2],   
                       [0.2,0.2],
                       [0.2,0.2]])

## 2. MODEL ITERATIONS

In [6]:
from model_iteration_function import model_iteration
Output, Hrent, Error, ZAttrIJ, ZAttrI = model_iteration(Tol,Status_HrentPred,Status_Mode,Status_EmpPred,Time1,EmpSeCTot,EmpSeC,HS,BFS,Hrent0,Wage,HSExpShare,MaxITN,LLCoefIJ,D,Lambda,LT)

------------------- ZAT file exists - Load ZAT file -----------------
--------------------------- Iteration starts ------------------------
--------------------- Hrent Converged at ITN = 2054 ------------------
Elapsed time is: 0.9934 seconds

## 3. MODEL OUTPUT

In [7]:
from functions import print_outputs
Output_summary = print_outputs (Status_Mode,Status_EmpPred,Status_HrentPred,Output,Hrent,Tol,Project_Name)
Output_summary['Metadata']

[['PROJECT NAME: Model_X'],
 ['DATE: ', Timestamp('2021-10-13 18:26:55.122069')],
 ['PRECISION: ', 1e-06],
 ['MODEL MODE: FORECAST'],
 ['EMPLOTMENT PREDICTION: DISABLED'],
 ['HOUSE RENTS PREDICTION: ENABLED']]

In [8]:
Output_summary['T1']

      Hrent          ER                     EW                 JobOpp  \
            high income low income high income low income high income
z1  213.284       105.6        1.1       100.0        1.0       1.281
z2  179.431        88.8        0.9       100.0        1.0       1.386
z3  213.284       105.6        1.1       100.0        1.0       1.281

                   LabCat                    ACD                    ACT  \
   low income high income low income high income low income high income
z1     -3.324       1.299     -3.306      11.205     11.205      11.205
z2     -3.219       1.341     -3.265       8.865      8.865       8.865
z3     -3.324       1.299     -3.306      11.205     11.205      11.205


   low income
z1     11.205
z2      8.865
z3     11.205

In [9]:
Output_summary['Commuting_Origin_Destination_Flow']

                  z1    z2    z3
high income z1  65.5  23.7  16.4
            z2  18.1  52.6  18.1
            z3  16.4  23.7  65.5
low income  z1   0.7   0.2   0.2
            z2   0.2   0.5   0.2
            z3   0.2   0.2   0.7
all         z1  66.1  24.0  16.5
            z2  18.3  53.1  18.3
            z3  16.5  24.0  66.1