<img align="left" src="https://www.cam.ac.uk/sites/www.cam.ac.uk/files/inner-images/logo.jpg" width="300">

## A CITY REGION IN MAKING - DEMO VERSION
AUTHOR: DR LI WAN & MS TIANYUAN WANG | UNIVERSITY OF CAMBRIDGE

### What is the model? / Description

This model is designed to simulate the spatial equilibrium structure in the city.  

For simplicity, there are three zones (zone 1, 2, 3).

### How to use it? / Getting Started

**Change input:** 

All the numbers of model varaibles can be changed to whatever you're interested in. And simply click the `>>` button (or, `Kernel` -> `Restart & Run All`), you can then get your outputs!

<!-- <li style="margin-top: 12px;">It allows you to easily reproduce the analysis. </li> -->

**Read output:** 

z1, z2, z3 indicate zone 1, 2, 3 respectively.

ER: Employment residents; &nbsp; EW: XXX; &nbsp; JobOpp: XXX;&nbsp;  LabCat: XXX; &nbsp; ACD: XXX; &nbsp; ACT: XXX; 

&nbsp;  

Note: This online interactive webpage is aimed to let users run everything online, so you don't have to download anything and can get outputs immediately. You can also save all your changes to your own local service by clicking `File` -> `Download as` -> `Notebook(.ipynb)` (Noted this webpage won't be able to save automatically once you close the window).

If you do want to run this model through your own local device, remember to download the whole folder (including all the function files). This model can be run through any Python IDE. 


Further information for the more advanced model can refer to the published paper: <a href="https://journals.sagepub.com/doi/10.1177/2399808317732575" target="_blank"> Wan, L., & Jin, Y. (2019).  Assessment of model validation outcomes of a new recursive spatial equilibrium model for the Greater Beijing </a>.

<!-- [other paper](https://journals.sagepub.com/doi/10.1177/2399808317732575) -->

**   **
**Contact:** &nbsp; Dr Li Wan: lw423@cam.ac.uk; &nbsp; Ms Tianyuan Wang: tw531@cam.ac.uk

## 1. DATA INPUT

In [1]:
# import packages
import os
import scipy.io as sio
import pandas as pd
import numpy as np
import time

In [2]:
# Model Parameters (DO NOT CHANGE)
import settings
Tol = settings.Tol
Status_Mode = settings.Status_Mode
Status_EmpPred = settings.Status_EmpPred
Status_HrentPred = settings.Status_HrentPred

### Model Variables 

From top to bottom, zone 1, 2, 3 respectively 

Left-hand side is high-income group; right-hand side is low-income group. 

1. Housing Variables:

In [3]:
# housing floorspace (Unit: m2) 
HS = np.array([[1000],
               [1000],
               [1000]])

# business floorspace (Unit: m2)
BFS = np.array([[1000],
                [1000],
                [1000]])

# house rent per m2
Hrent0 = np.array([[200],
                   [200],
                   [200]])

2. Employment Variables:

In [4]:
# total employment by socio-economic classification; input if Status_EmpPred == 1 (Predict emp-residential location pair)
EmpSeCTot = np.array([[300,1]]) 

# employment by socio-economic classification; input if Status_EmpPred == 0 (Predict residential location only)
EmpSeC = np.array([[100,1],   
                   [100,1],
                   [100,1]])

3. Travel Time:

In [5]:
# travel time from residence place (row) to work place (column) (Unit: minute)
Time1 = np.array([[5,15,30],    
                  [15,5,15],
                  [30,15,5]])

4. Other Variables:

In [6]:
# annual labour wage at worlplace
Wage = np.array([[10000,10000],   
                 [10000,10000],
                 [10000,10000]])

# Share of total income spent on housing
HSExpShare = np.array([[0.2,0.2],   
                       [0.2,0.2],
                       [0.2,0.2]])

## 2. MODEL ITERATIONS

In [7]:
from model_iteration_function import model_iteration
Output, Hrent, Error, ZAttrIJ, ZAttrI = model_iteration(Tol,Status_HrentPred,Status_Mode,Status_EmpPred,Time1,EmpSeCTot,EmpSeC,HS,BFS,Hrent0,Wage,HSExpShare)

------------------- ZAT file exists - Load ZAT file -----------------
--------------------------- Iteration starts ------------------------
--------------------- Hrent Converged at ITN = 1832 ------------------
Elapsed time is: 0.8149 seconds

## 3. MODEL OUTPUT

In [8]:
from functions import print_outputs
Output_summary = print_outputs (Status_Mode,Status_EmpPred,Status_HrentPred,Output,Hrent,Tol)
Output_summary['Metadata']

[['PROJECT NAME: ProbIJ_Model_Test'],
 ['DATE: ', Timestamp('2021-10-07 11:45:43.667733')],
 ['AUTHOR: DR LI WAN & MS TIANYUAN WANG | UNIVERSITY OF CAMBRIDGE'],
 ['PRECISION: ', 1e-06],
 ['MODEL MODE: FORECAST'],
 ['EMPLOTMENT PREDICTION: ENABLED'],
 ['HOUSE RENTS PREDICTION: ENABLED']]

In [9]:
Output_summary['T1']

         Hrent          ER                     EW                 JobOpp  \
               high income low income high income low income high income
z1  208.035876  103.672466   0.345575   89.494273   0.298314    1.245287
z2  185.927687   92.655067   0.308850  121.011454   0.403372    1.466995
z3  208.035876  103.672466   0.345575   89.494273   0.298314    1.245287

                   LabCat                    ACD                    ACT  \
   low income high income low income high income low income high income
z1  -4.458496    1.293101  -4.410681   11.428571  11.428571   11.428571
z2  -4.236788    1.356474  -4.347308    8.333333   8.333333    8.333333
z3  -4.458496    1.293101  -4.410681   11.428571  11.428571   11.428571


   low income
z1  11.428571
z2   8.333333
z3  11.428571

In [10]:
Output_summary['Commuting_Origin_Destination_Flow']

                       z1         z2         z3
high income z1  59.241409  29.620705  14.810352
            z2  15.442511  61.770045  15.442511
            z3  14.810352  29.620705  59.241409
low income  z1   0.197471   0.098736   0.049368
            z2   0.051475   0.205900   0.051475
            z3   0.049368   0.098736   0.197471
all         z1  59.438881  29.719440  14.859720
            z2  15.493986  61.975945  15.493986
            z3  14.859720  29.719440  59.438881